:root {
    --theme: #f7558b;
    --bg: #0f0f0f;
    --button-bg: #474747;
    --input-bg: #cccccc;
    --red: #ff4747;
    --green: #aaff99;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    color: white;
    text-transform: lowercase;
    cursor: pointer;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: "Poppins";
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
